.banner {
    background-image: url("./kedge-bs.jpg");
    background-size: cover; /* Pour s'assurer que l'image couvre toute la bannière */
    background-position: center; /* Centrer l'image */
    width: 100%; /* Laisser la bannière s'adapter à la largeur de l'écran */
    max-width: 700px; /* Limiter la largeur maximale */
    padding: 20px;
    margin: 0 auto; /* Centrer la bannière */
}

.banner h1 {
    color: white;
    font-size: 50px;
    text-align: center;
}

.banner h2 {
    color: whitesmoke;
    text-align: center;
    margin-right: 0; /* Retirer la marge excessive */
}

@media (max-width: 760px) {
    .banner h1 {
        font-size: 40px; /* Réduire la taille du texte pour les petits écrans */
    }
    .banner h2 {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .banner h1 {
        font-size: 32px;
    }
    .banner h2 {
        font-size: 16px;
    }
}

body{
	background: #F7F9FC;
	color: #575F7D;
	font-family: 'Lora', serif;
	font-size: 17px;
	font-weight: lighter;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
}

h1{
	color: #575F7D;
	font-size: 32px;
	font-weight: 900;
}
h2{
	color: #7ECE90;
	font-size: 20px;
	font-weight: lighter;
	font-weight: 500;
}
a{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #6B72E1;
	font-weight: 600;
	font-size: 16px;
}
a:hover {
	color: black;
}

.container {
    width: 700px;
    margin: 40px auto;
}

@media (max-width: 760px) {
    .container {
        width: 600px;
    }
}

@media (max-width: 500px) {
    .container {
        width: 400px;
    }
}

.card-white{
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle {
	border-radius: 40%;
}
.btn-blue {
	background-color: #6B72E1;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: black;
	color: white;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 40px;
	color: rgb(230, 230, 230 );
}
#introduction p{
	margin-bottom: 40px;
}
